@page
@model Teletime.Pages.Departamentos.IndexModel

@{
    ViewData["Title"] = "Departamentos";
}

<h2>Cadastro de Departamentos</h2>

<p>
    <a asp-page="Create">Criar Novo Departamento</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Departamento[0].NomeDepartamento)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Departamento) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDepartamento)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdDepartamento">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.IdDepartamento">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdDepartamento">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
