@page
@model Teletime.Pages.Funcionarios.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Funcionário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Funcionario.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.DataAdmissao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Funcionario.DataAdmissao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.DataDemissao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Funcionario.DataDemissao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.Cargo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Funcionario.Cargo.NomeCargo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.Departamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Funcionario.Departamento.NomeDepartamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.Responsavel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Funcionario.Responsavel.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Funcionario.CPF">Editar</a> |
    <a asp-page="./Index">Voltar para Lista</a>
</div>
