@page
@model Teletime.Pages.Funcionarios.IndexModel

@{
    ViewData["Title"] = "Funcionários";
}

<h2>Cadastro de Funcionários</h2>

<p>
    <a asp-page="Create">Criar Novo Funcionário</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Funcionario[0].Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Funcionario[0].DataAdmissao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Funcionario[0].DataDemissao)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario[0].Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario[0].Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario[0].Responsavel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Funcionario) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAdmissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDemissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo.NomeCargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.NomeDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsavel.Nome)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CPF">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.CPF">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.CPF">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
