@page
@model Teletime.Pages.Cargos.IndexModel

@{
    ViewData["Title"] = "Cargos";
}

<h2>Cadastro de Cargos</h2>

<p>
    <a asp-page="Create">Criar Novo Cargo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cargo[0].NomeCargo)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cargo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCargo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdCargo">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.IdCargo">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdCargo">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
